body {
  margin: 0 auto;
  max-width: 320px;

  font-style: normal;
  font-weight: $font-weight-normal;
  font-size: $font-size;
  line-height: $line-height;
  font-family: "Open Sans", "Arial", sans-serif;
  color: $main-color;
}
