.promo {
  padding: 0 20px;

  font-size: $font-size-biggest;
  text-align: center;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: -200px -60px;
}
.promo__wrapper {
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 50px;
}
